$column:    12 !default;
$gutter:    0.938em !default;
$max-width: 1200px !default;

// normalize
$base-font-size:            16 !default;
$base-line-height:          16px !default;
$base-unit:                 'rem' !default; // px, em, rem.
$normalize-vertical-rhythm: true !default; // true

// font
$base-font:     $base-font-size;
$heading-sizes: 50 37 28 21 16 12;

// flex-grid 
$grid-columns:          $column;
$gutter-width:          $gutter;
$outer-margin:          0.938rem !default;
$flexboxgrid-max-width: $max-width;
// ????
$gutter-compensation: $gutter-width * .5 * -1;
$half-gutter-width:   $gutter-width * .5;
