@mixin size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $height: nth($size, 2);
  }

  width: $width;
  height: $height;
}

@mixin min-size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $height: nth($size, 2);
  }

  min-width: $width;
  min-height: $height;
}

@mixin max-size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $height: nth($size, 2);
  }

  max-width: $width;
  max-height: $height;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
}

@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}