// color
$black: #000;
$white: #fff;

// breakpoints
$xs:  max-width 768px !default;
$sm:  min-width 768px !default;
$md:  min-width 992px !default;
$lg:  min-width 1200px !default;
$xlg: min-width 1600px !default;

// fonts
$font-path: '../fonts/';

$base-font: 16;
