//- text variables
-var menu = ['faq', 'angels', 'blog', 'nature of nimses']
-var footer = ['about', 'terms', 'privacy policy', 'cotact us']
-var social = [{name:'youtube-play',link:'https://you-tube.com'},{name:'facebook',link:'https:facebook.com'},{name:'vk',link:'https://vk.com'},{name:'instagram',link:'https://inctagram.com'}]
