* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

figure { margin: 0; }

.image-container img,
.responsive-image {
	@include size(100% auto);
	display: block;
}

.relative { position: relative; }

.text- {
  &center { text-align: center; }

  &left { text-align: left; }

  &right { text-align: right; }

  &uppercase { text-transform: uppercase; }
}

.hidden-sm {
  @include mobile {
    display: block;
  }

  @include tablet {
    display: none;
  }
}