* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap-container { @include outer-container; }

.clear { @include clear; }

li { list-style: none; }

a[href] { text-decoration: none; }

figure { margin: 0; }

.image-container img {
	@include size(100% auto);
	display: block;
}

.relative { position: relative; }
